

.skills h1 {
    font-size: x-large;
}

.skills-container {
    padding: 10px;
    border-radius: 3em;
    background: #F3DE8A;
}

.skill-title {
    font-weight: bold;
    font-size: large;
}

.webskills {
    text-align: justify;
    float: left;
    margin-left: 12px;
}
.photoskills {
    text-align: justify;
    float: right;
    margin-right: 10px;
}

    
