body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.nav-bar {
    background: #272838;
    color: #EB9486 !important;
}

.navbar-nav {
    color: #EB9486 !important;
}

.navbar-brand { 
    color: #EB9486 !important;
}


.social-header {
    justify-content: space-between;
}

.social-header ul img {
    width: 20px;
    float: right;
    margin: 0 10px 10px 0;
}

.hero {
    background: #7E7F9A;
    color: #F3DE8A;
    display: flex;
    text-align: left;
    padding: 4em;
}

.heroimg {
    width: 100%;
    padding-left: 5%;
}

.content h1 {
    color: #F9F8F8;
    text-align: right;
    padding-top: 10%;
    padding-left: 20%;
}

.meet p {
    text-align: right;
    width: 100 px;
    color:#F3DE8A;
}

section {
    padding: 10px 90px 0 90px;
    text-align: center;
    background: #EB9486;
}

.skills h1 {
    font-size: x-large;
}

.skills-container {
    padding: 10px;
    border-radius: 3em;
    display: grid;
    grid-template-columns: repeat (2, auto);
    background: #F3DE8A;
}

.skill-title {
    font-weight: bold;
    font-size: large;
}

.portfolio {
    background:#F3DE8A;
    text-align: left;
    padding-top: 10em;
    padding-bottom: 0;
}

.portfolio h1 {
    text-align: center;
    font-size: x-large;
    color: #272838;
}

.portfolio-container {
    position: relative;
    margin: auto;
    height: 700px;
    background: #F3DE8A;

}
    

.portfolio-container img {
    margin: 0 80px 10px 700px;
    position: absolute;
    bottom: auto;
    top: 50px;
}

.subtitle {
    color: #EB9486;
    margin-left: 35%;
    font-weight: bold;
    text-transform: uppercase;
}

.featured-title {
    color: #272838;
    font-weight: bold;
    margin-left: 20%;
}

.featured-desc {
    color: #7E7F9A;
    text-align: right;
    width: 25%;
    margin-left: 20%;
}