body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
}

.logo {
    color: #EB9486;
    font-weight: bold;
    margin: 7px 0;
    font-size: large;
}

.nav-container {
    background: #272838;
    grid-template-columns: auto;
}

.nav-container a {
    color: #EB9486;
}

header {
    display: flex;
    justify-content: space-between;
}

header nav {
    margin: 10px 0 0 0px;
}

header ul {
    display: flex;
}

header ul a {
    padding: 10px 15px;
    font-weight: lighter; 
}
.social-header {
    justify-content: space-between;
}

.social-header ul img {
    width: 20px;
    float: right;
}

.hero {
    background: #7E7F9A;
    color: #F3DE8A;
    display: flex;
    text-align: left;
    padding: 4em;
}

.heroimg {
    width: 100%;
    padding-left: 20%;
}

.content h1 {
    color: #F9F8F8;
    text-align: right;
    padding-top: 10%;
    padding-left: 30%;
}

.meet p {
    text-align: right;
    width: 100 px;
    color:#F3DE8A;
}

section {
    padding: 10px 90px 0 90px;
    text-align: center;
    background: #EB9486;
}

.skills h1 {
    font-size: x-large;
}

.skills-container {
    padding: 10px;
    border-radius: 3em;
    display: grid;
    grid-template-columns: repeat (2, auto);
    background: #F3DE8A;
}

.skill-title {
    font-weight: bold;
    font-size: large;
}

.portfolio {
    background:#F3DE8A;
    text-align: left;
    padding-top: 10em;
}

.portfolio h1 {
    text-align: center;
    font-size: x-large;
}

.portfolio-container img {
        margin-right: 20%;
        float: right;
        display: flex;
}

.subtitle {
    color: #EB9486;
    margin-left: 40%;
    font-weight: bold;
    text-transform: uppercase;
}

.featured-title {
    color: #272838;
    font-weight: bold;
    margin-left: 30%;
}

.featured-desc {
    color: #7E7F9A;
    text-align: right;
    width: 25%;
    margin-left: 20%;
}